html {
	min-width: 550px;
	overflow-x: hidden; /* Required to hide horizontal scroll on Firefox */
}

.form-row {
	margin: 1em 0;
}

/* For use with screen readers */
.sr-only {
	display: none;
}

input,
textarea {
	width: 70%;
}

textarea {
	min-height: 10em;
}

label {
	display: inline-block;
	width: 20%;
	text-align: right;
	vertical-align: top;
}

/* Firefox only */
.only-firefox {
	display: none;
}

@-moz-document url-prefix('') {
	.only-firefox {
		display: block;
	}
}
